In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("martj42/international-football-results-from-1872-to-2017")

Downloading from https://www.kaggle.com/api/v1/datasets/download/martj42/international-football-results-from-1872-to-2017?dataset_version_number=89...

100%|██████████| 1.14M/1.14M [00:00<00:00, 2.22MB/s]

Extracting files...
Path to dataset files: /home/jovyan/.cache/kagglehub/datasets/martj42/international-football-results-from-1872-to-2017/versions/89

In [3]:
import pandas as pd
results_df = pd.read_csv(path + "/results.csv")

In [4]:
# Obtenemos los primeros 5 registros
results_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [6]:
# Descripción de las variables numéricas
results_df.describe()

         home_score    away_score
count  47917.000000  47917.000000
mean       1.757873      1.181752
std        1.772538      1.399573
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000